<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>

<% capacities = GameAccount.capacities.map {|c| [c.capitalize, c] }%>
<%= form_for [:admin, @game_account] do |f| %>
	<div class="form-row">
		<div class="form-group col-md-6">
			<%= f.label "title", class: "control-label col-sm-2" %>
			<div class="col-sm-3 col-md-6">
				<%= f.text_field :title, class: "form-control" %>
			</div>
		</div>

		<div class="form-group col-md-6">
			<%= f.label "cap1-status", class:"control-label col-sm-3" %>
			<div class="col-sm-3">
				<%= f.select :cap1_status, options_for_select(capacities, :selected => @game_account.cap1_status) %>
			</div>
		</div>
	</div>
	
	<div class="form-row">
		<div class= "form-group col-md-6">
			<%= f.label "username", class: "control-label col-sm-2" %>
			<div class="col-sm-3 col-md-6">
				<%= f.text_field :username, class: "form-control" %>
			</div>
		</div>

		<div class="form-group col-md-6">
			<%= f.label "cap2-status", class:"control-label col-sm-3" %>
			<div class="col-sm-3">
				<%= f.select :cap2_status, options_for_select(capacities, :selected => @game_account.cap2_status) %>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-6">
			<%= f.label "password", class: "control-label col-sm-2" %>
			<div class="col-sm-3 col-md-6">
				<%= f.text_field :password, class: "form-control" %>
			</div>
		</div>

		<div class="form-group col-md-6">
			<%= f.label "cap3-status", class:"control-label col-sm-3" %>
			<div class="col-sm-3">
				<%= f.select :cap3_status, options_for_select(capacities, :selected => @game_account.cap3_status) %>
			</div>
		</div>
	</div>

	<div class="form-group">
		<%= f.label "email_id", "Email ID", class:"control-label col-sm-2" %>
		<div class="col-sm-3">
			<%= f.text_field :email_id, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label "email_password", class:"control-label col-sm-2" %>
		<div class="col-sm-3">
			<%= f.text_field :email_password, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label "remarks", class: "control-label col-sm-2" %>
		<div class="col-sm-3 col-md-6">
			<%= f.text_area :remarks, rows: "5", class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= label_tag "Order Numbers", nil, class: "control-label col-sm-2" %>
		<div class="col-sm-6">
			<%= select_tag "select", options_from_collection_for_select(@completed_orders, "id", "number"), multiple: true %>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card border-primary mb-3" style="max-width: 18rem;">
			<div class="card-header text-center text-white bg-primary">R12534</div>
			<div class="card-body">
				<div class="p-1"><span>Name: </span><span>Samira Soltani</span></div>
				<div class="p-1"><span>Username: </span><span>s.soltani</span></div>
				<div class="p-1"><span>Date of Order: </span><span>11/2/21</span></div>
				<div class="p-1">
					<span>Line Items: </span>
					<ul>
						<li>Fifa</li>
						<li>Tomb raider</li>
						<li>Lost</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<%= f.submit  "Submit", class: "btn btn-primary submit-button ml-3" %>
<% end %>